body {
	font-family: 'Poppins', sans-serif;
    background-color: none;
    margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.container {
	width: 700px;
	color: black;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	display: block;
	position: relative;
	justify-content: space-between;
	background: rgb(0, 0, 0, 0.2);
	background-image: url('wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	  background-position: center; 
	}

#time, #date, #weather-description, #temperature {
	color: white;
	font-weight: bold;
	text-shadow: 0 0 10px gray, 0 0 20px gray, 0 0 30px gray;
	}

.clock h1 {
	font-size: 2.5em;
	margin: 0 auto;
	}

.clock {
	margin: 0 auto;
	cursor: none;
	}

input {
	width: 80%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: text;
	margin: 0 auto;
	}

button {
	margin-top: 5px;
	padding: 10px 20px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	background: gray;
	color: white;
	border-radius: 5px;
    cursor: pointer;
	align-items: center;
	text-align: center;
	margin: 0 auto; 
	max-width: 100px;
	background-color: rgb(0, 0, 0, 0.4);
	text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black;
	}

button:hover {
	background: black;
	font-weight: bold;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);	
	text-shadow: 0 0 10px gray, 0 0 20px gray, 0 0 30px gray;
	}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

.column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}

hr {
	color: none;
	border: 0;
	height: 0;
	} 

#separator1 {
	transition: rotate(90deg);
	margin: 3px;
	}

 #separator2 {
	transition: rotate(90deg);
	margin: 3px;
	}

.weather {
	background: linear-gradient(90deg, rgba(0, 127, 255, 0.2), gray);
	border-radius: 5px;
	padding: 15px;
	display: block;
	margin: 0 auto;
	position: relative;
	max-height: 100px;
	z-index: 2;
	margin-bottom: 2px;
	}

#weather-icon {
	width: 70px;
	height: 70px; 
	margin: 0 auto;
	}

#weather-description, #temperature {
	margin: 0 auto;
	font-size: 0.8em;
	}

.weather {
	display: block;
	}

.row2 {
	display: flex;
	flex-direction: row;
	margin: 0;
	}

footer {
	color: blue; 
	text-align: right;
  	font-size: 0.5em;
  	color: white;
	margin-left: -25px;
	position: absolute;
	bottom: 5px;
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
	z-index: 1;
	}
